---
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');
const latestPosts = allPosts
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    .slice(0, 4);
---

<section class="blog">
    <div class="container">
        <div class="heading">
            <p class="pre-title">Вам понравится</p>
            <h2 class="h1">Интересные статьи</h2>
        </div>
        <div class="swiper-container blog-slider">
            <div class="blog__wrapper swiper-wrapper">
                {latestPosts.map((post) => (
                    <div class="blog__item swiper-slide">
                        <a href={`/blog/${post.slug}`} class="blog__item-img">
                            <img src={post.data.image || "/assets/img/blog_1.png"} alt={post.data.title}>
                        </a>
                        <div class="blog__item-info">
                            <h6 class="title">{post.data.title}</h6>
                            <p class="text">{post.data.description}</p>
                            <a href={`/blog/${post.slug}`} class="btn btn--outlined">Читать дальше</a>
                        </div>
                    </div>
                ))}
            </div>
        </div>
        <div class="swiper-pagination blog-pagination"></div>
    </div>
</section>