---
import zodiacs from '../data/zodiacs.json';

const getImageName = (slug) => {
    const map = {
        'virgo': 'virgin',
        'sagittarius': 'saggitarius',
        'pisces': 'pieces'
    };
    return map[slug] || slug;
};
---

<section class="zodiac">
    <div class="container">
        <div class="heading">
            <p class="pre-title">Твой знак зодиака</p>
            <h2 class="h1">Узнай всё о своей судьбе в звёздах</h2>
        </div>
        <div class="zodiac__wrapper">
            
            {zodiacs.map((sign) => (
                <a href={`/zodiac/${sign.slug}`} class="zodiac__item">
                    <img 
                        src="/assets/img/1px.png" 
                        data-src={`/assets/img/${getImageName(sign.slug)}.png`}
                        data-srcset={`/assets/img/${getImageName(sign.slug)}_2x.png 2x`}
                        alt={sign.name} 
                        class="icon"
                    >
                    <h5 class="title">{sign.name}</h5>
                </a>
            ))}

        </div>
    </div>
</section>